.page-bx {
	position: relative;
    padding: 10px;
    background-color: #fff;
}

.page-bx .btns-bx {
    position: absolute;
    width: 200px;
    top: 14px;
    right: 10px;
    display: inline-flex;
	justify-content: flex-end;
	z-index: 99;
}

.page-bx .btns-bx .ivu-btn {
	margin: 0 3px
}

.page-bx .btns-bx .ivu-btn .ivu-icon {
	font-size: 14px;
}

.type-select {
	padding-bottom: 10px;
}

.page-btm-btn {
	padding: 0 0 0 100px;
}
